<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://as1.ftcdn.net/v2/jpg/04/23/03/78/1000_F_423037851_xlpuVJZL7SvYyCZxnrMj2Y40dJ0K7L4v.jpg);">
  <div class="container">
    <h1> <strong>MOVIE KNIGHT</strong></h1>
    <p>"Guardian of Your Movie Realm"</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
