<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/movie_knight.png);">
  <div class="container">
    <h1> <strong>MOVIE KNIGHT</strong></h1>
    <p>"Guardian of Your Movie Realm"</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
