<div class="container">
  <h1>Create your List!</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, class: "form-control"%>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
