.popular-movie-slider {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 35px;
  padding: 10px 100px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.popular-movie-slider .poster {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


.popular-movie-slider .popular-movie-slider-content {
  line-height: 25px;
}

.popular-movie-slider .popular-movie-slider-content .movie-name {
  font-size: 1.8em;
}


.popular-movie-slider .popular-movie-slider-content .category {
  display: flex;
  gap: 30px;
  text-transform: capitalize;
  margin: 10px 0;
}

.popular-movie-slider .popular-movie-slider-content .desc {
  font-size: .90em;
}

.popular-movie-slider .popular-movie-slider-content .movie-info {
  display: flex;
  gap: 30px;
  margin: 25px 0;
}

.popular-movie-slider .popular-movie-slider-content .movie-info .fa-circle {
  color: #DB0000;
  font-size: .85em;
}

.popular-movie-slider .popular-movie-slider-content .movie-info .fa span {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 15px;
}


.popular-movie-slider .popular-movie-slider-content .movie-btns {
  display: flex;
  gap: 10px;
}


.popular-movie-slider .popular-movie-slider-content .movie-btns button {
  width: 200px;
  border: none;
  outline: none;
  padding: 15px 0;
  border-radius: 100px;
  font-size: 1em;
  background: #DB0000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.popular-movie-slider .popular-movie-slider-content .movie-btns button .fa {
  font-size: .65em;
  color: #fff;
}


.popular-movie-slider .popular-movie-slider-content .movie-btns .read-more {
  background: none;
}

.popular-movie-slider .popular-movie-slider-content .movie-btns .read-more:hover {
  background: #000;
}

.popular-movie-slider .popular-movie-slider-content .movie-btns button:hover {
  background: #000;
}
