<video autoplay loop muted plays-inline class="background-video w-100 h-100" style="object-fit: cover;" >
  <source
        src="<%= asset_path('movie-theater.mp4') %>"
        type="video/mp4" />
</video>
<%= render "layouts/header"%>
<section class="content">
    <h1>Movie Knight</h1>
    <%= link_to "Link Text", new_list_path, class: "btn light" %>
  </section>
